.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.logo{
    padding-left: 5px;
    font-weight: 600;
    
}
.navButton{
    border: none;
    margin-left: 20px;
    cursor: pointer;
    padding: 5px 10px;
    color: #003580;
}